doctype html
html
  head
    link(rel='stylesheet' href='./css/app.css')
  meta(charset = 'utf-8')
  meta(name = 'viewport', content="initial-scale=1.0, width=device-width")
  title SmartHome
  body
    .wrapper
      header.header
        .container.container_header
          .header__logo
            a.logo(href="#")
          menu.header__menu
            ul.menu__list
              li.menu__item 
                a.menu__link.menu__link-active(href="#") Сводка
              li.menu__item 
                a.menu__link(href="#") Устройства
              li.menu__item 
                a.menu__link(href="#") Сценарии
      main.main
        .main__container
          include ./views/general.pug
          include ./views/top-tasks.pug
          include ./views/top-device.pug
      footer.footer
        a(href="#") Помощь
        a(href="#") Обратная связь
        a(href="#") Разработчикам
        a(href="#") Условия использования








