doctype html
html
  head
    link(rel='stylesheet' href='./css/app.css')
  meta(charset = 'utf-8')
  meta(name = 'viewport', content="initial-scale=1.0, width=device-width")
  title SmartHome
  body
    h1 test pug
    p sdfasda