.header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #F0F0F0;
}

.container_header {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  height: 27px;
  width: 108px;
  background: url("./images/logo.png") no-repeat;
  background-size: cover;
}

.header__menu {
  padding-left: 52px;
}

.menu__list {
  display: flex;
  flex-direction: row;
}

.menu__item {
  margin-right: 25px;
}

.menu__link {
  text-decoration: none;
  color: #333333;
  opacity: .6;

  &-active {
    opacity: 1;
  }
}